/.idea/exchange_rate_project.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml

/exchange_rate/db.sqlite3
/log.log
/exchange_rate/log.log
logs/